{% extends 'base.html' %}

{% block title %} {% endblock %}

{% block content %}

<div class="container">
  <h1 class="mt-4">Edit a User</h1>

  <form action="/users/{{ user.id }}/edit" method="POST">

    <div class="form-row mt-3">
      <div class="form-group">
        <label for="first_name">First Name</label>
        <input type="text" class="form-control" id="first_name" name="first_name" placeholder="Enter a first name"
          value="{{ user.first_name }}">
      </div>
    </div>

    <div class="form-row mt-3">
      <div class="form-group">
        <label for="last_name">Last Name</label>
        <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Enter a last name"
          value="{{ user.last_name }}">
      </div>
    </div>

    <div class="form-row mt-3">
      <div class="form-group">
        <label for="image_url">Image URL</label>
        <input type="text" class="form-control" id="image_url" name="image_url"
          placeholder="Provide an image of this user" value="{{ user.image_url }}">
      </div>
    </div>

    <a href="/users/{{ user.id }}" class="btn btn-light mt-3">Cancel</a>
    <button type="submit" class="btn btn-primary mt-3">Save</button>
  </form>
</div>

{% endblock %}